
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Large model files
few-shot-model-1/best-model.pt
few-shot-model-2/best-model.pt
few-shot-model-gain-avoid/best-model.pt
few-shot-model-gain-avoid-sensory/best-model.pt
few-shot-model-gain-avoid-people/best-model.pt
few-shot-model-gain-avoid-social/best-model.pt
few-shot-model-avoid-multi/best-model.pt
setfit-zero-shot-classification-pbsp-p4-quality/pytorch_model.bin

# Azure OpenAI API Key file
.env

# Spacy model on disk
en_core_web_sm-3.5.0