bpemb>=0.3.2
conllu>=4.0
deprecated>=1.2.4
ftfy
gdown==4.4.0
huggingface-hub
hyperopt>=0.2.7
janome
konoha<5.0.0,>=4.0.0
langdetect
lxml
matplotlib>=2.2.3
more-itertools
mpld3==0.3
pptree
regex
segtok>=1.5.7
tabulate
transformers>=4.0.0
wikipedia-api
flair==0.11.3